USE [master]
GO
/****** Object:  Database [ArrivalReportingTool]    Script Date: 16.9.2019 г. 13:29:54 ч. ******/
CREATE DATABASE [ArrivalReportingTool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArrivalReportingTool', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ArrivalReportingTool.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArrivalReportingTool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ArrivalReportingTool_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArrivalReportingTool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArrivalReportingTool]
GO
/****** Object:  Table [dbo].[Arrival]    Script Date: 16.9.2019 г. 13:29:56 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arrival](
	[Id] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[When] [datetime] NULL,
 CONSTRAINT [id_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
